.container {
  margin: 0 auto;
  background-color: #aeb6bf;
  background-size: cover;
  width: 100%;
  margin: auto;
  max-height: 50px;
  border: 0.1px;
  padding: 1%;
}

.navbarlogo {
  max-width: 30%;
}

.navmenu {
  list-style-type: none;
  position: left;
  background-color: #aeb6bf;
}
.navmenubtn {
  display: inline;
  color: #0a3d62;
  padding: 0.2em 1em;
  font-size: 1.5rem;
  font-weight: bold;
  background-color: transparent;
  border: 1px solid transparent;
}

.navmenubtn:hover {
  opacity: 0.5;
}

.nounderline {
  text-decoration: none;
}
