.background {
  background-image: url(../../../Assets/LoginBackground.jpg);
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container1 {
  min-height: 768px;
  border: 1px dotted black;
  padding: 2%;
}

.textcenter {
  text-align: center;
}

.container2 {
  width: 80%;
  background-color: rgba(224, 224, 224, 0.8);
  box-shadow: 0 0 30px 0 (224, 224, 224, 1);
  padding: 60px 50px;
  max-width: 400px;
  border-radius: 20px;
}

.h2 {
  color: #222f3e;
  font-size: 3rem;
}

.label {
  margin: 0;
  color: #222f3e;
  text-align: center;
  font-size: 2rem;
  font-weight: normal;
}

.loginbtn {
  padding: 0.5em 1em;
  font-size: 1.5rem;
  font-weight: lighter;
  color: whitesmoke;
  background-color: #222f3e;
  border: 1px solid #222f3e;
  border-radius: 0.25em;
}

.loginbtn:hover {
  opacity: 0.8;
}

.inputbox {
  font-size: 1.5rem;
  max-width: 50%;
}
