.background {
  background-image: url(../../../Assets/addvehcilepage.jpg);
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container1 {
  min-height: 768px;
  border: 1px dotted rgb(6, 6, 6);
  padding: 2%;
}

.inputbox {
  padding: 7px;
  display: inline;
  border: 1px solid rgb(61, 63, 64);
  background: rgb(0, 82, 122);
  width: 250px;
  height: 50px;
  margin: 20px;
  align-items: center;
  border-radius: 10px;
  color: azure;
  font-size: 20px;
  font-weight: 700;
}
.button {
  width: 150px;
  height: 50px;
  color: rgb(255, 255, 255);
  font-size: 20px;
  font-weight: 800;
  padding: 12px 0px;
  background: rgb(115, 113, 116);
  border-radius: 10px;
  margin-left: 18px;
  margin-top: 0px;
  font-family: serif;
  margin: 20px;
}
.button:hover {
  background-color: #5b5350;
}
.h1 {
  text-align: center;
  text-decoration: wavy underline;
  font-family: cursive;
}
.Item_List {
  text-align: center;
  margin-top: 50px;
}
.Item_List ul li {
  display: inline;
  border: 1px solid black;
  padding: 10px;
}
.Item_List ul {
  margin: 0;
}
.background1 {
  background-image: url(../../../Assets/items.jpg.webp);
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 700px;
  background-position: flex;
}
.container2 {
  min-height: 768px;
  border: 1px dotted rgb(6, 6, 6);
  padding: 2%;
}
.heading {
  text-align: center;
  font-weight: bolder;
  font-size: xx-large;
}
