.form {
  width: 50%;
  margin: 0 auto;
  border: 5px midnightblue double;
  padding: 20px 20px white solid;
  background-color: #ecf0f1;
}

.formlabel {
  background-color: azure;
  margin: auto;
  font-weight: bold;
  font-family: sans-serif;
  text-align: center;
  width: 100px;
  color: #2f4f4f;
  border: 5px 5px black solid;
  float: left;
}
